* {
    box-sizing: border-box;
}

.container{
    width: 620px;
    height: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border: 8px solid black ;
}

.row{
    display: flex;
    flex-direction: row;
    flex: 1 auto;
  
        
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.cell{
    
    flex: 1 auto;
    cursor: crosshair;
    
}
